.nav__container {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid rgb(202, 190, 190);

    .div_content {
        display: flex;
        align-items: center;
        padding: 0 40px;

        .image__container {
            h3 {
                display: none;
            }
            img {
                width: 100%;
                max-width: 183px;
            }
        }

        .nav__item {
            text-decoration: none;
            cursor: pointer;
            color: black;
            margin-right: 20px;
            padding: 4px 16px;
            font-size: 14px;
        }

        .cart {
            display: flex;
            align-items: center;
            justify-content: center;
            .cart-icon {
                max-height: 30px;
            }

            .label {
                border-radius: 50%;
                color: white;
                background-color: #4b5548;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 24px;
                height: 24px;
                padding: 3px;
                margin: 0;
                font-size: 12px;
                transform: translate(-5px, -10px);
            }
        }
    }
}

@media screen and (max-width: 564px) {

    .div_content {
        display: flex;
        align-items: center;
        padding: 0 5px !important;
        justify-content: flex-start;


    .image__container {
        width: 100px;

        img {
            width: 100%;
            height: 53px;
            max-width: 80px;
        }
    }

    .image__container {
        h3 {
            display: block !important;
            max-width: 183px;
            font-size: 24px;
        }
        img {
            display: none;
        }
    }

    }
    .first {
        display: none;
    }
}